<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Регрессионное тестирование сайта покупки авиабилетов (Внешний сайт + П24)" thread-count="1" verbose="1">
    <suite-files>
        <suite-file path="testngMainSite.xml"/>
        <suite-file path="testngP24.xml"/>
    </suite-files>
</suite>